body {display: flex;
flex-direction: column;
font-family: 'Roboto', sans-serif;
}

.header {background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    
}

.logo {display: flex;
font-size: 24px;
align-items: center;
color: #F9Faf8;
margin-left: 240px;}

.links {display:flex;
}

ul {list-style: none;
display: flex;
gap: 24px;
margin-right: 240px;}

a {font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;}

.hero{background-color: #1F2937;
display: flex;
padding-top: 100px;
justify-content: space-between;
padding-bottom: 150px;
}

.awesome{font-size: 48px;
font-weight: 900;
color: #F9Faf8;}

.subtext {font-size: 18px;
color:#E5E7EB;}

img {width: 460px;
height: 230px;}

.left{display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 475px;
padding: 24px;
gap: 8px;
margin-left: 200px;
}

.right {display:flex;
align-items: center;
justify-content: center;
margin-right:124px;}

button{font-size: 14px;
font-weight: bold;
padding: 8px 24px;
color:#F9Faf8;
background-color: #3882F6;
border: 1px solid #3882F6;}





