body {display: flex;
flex-direction: column;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}

.header {background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    
}

.logo {display: flex;
font-size: 24px;
align-items: center;
color: #F9Faf8;
margin-left: 240px;}

.links {display:flex;
}

ul {list-style: none;
display: flex;
gap: 24px;
margin-right: 240px;}

a {font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;}


